@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$body-font-family: "Inter";
$heading-font-family:"Inter";
$title-font: sans-serif;

$headings: (
	"h1": (
		"size": 36px,
		"weight": 700,
		"line-height": 44px,
		"letter-spacing": -0.055em
	),
	"h2": (
		"size": 20px,
		"weight": 700,
		"line-height": 24px
	),
	"h3": (
		"size": 20px,
		"weight": 300,
		"line-height": 24px
	),
	"h4": (
		"weight": 700,
		"size": 14px,
		"line-height": 17px
	)
);

// Scrollbars
::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb{
	background: #B3AFB3;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
	background: #C7C7C7;
}

::-webkit-scrollbar-track{
	background: #F0F0F0;
	border-radius: 8px;
	box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
